body {
  margin: 0;
}
main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: Ubuntu, Sans, 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 2;
  margin: auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}
.footer-blocks {
  text-align: left;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  text-align: left;
}
.nav-link-item {
  padding-right: 2rem;
  text-align: left;
}
.nav-link-text {
  color: black;
  text-align: left;
}
h1 {
  font-size: 24px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 12px;
}
.website-credits {
  font-size: 12px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
